# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Temporários
tmp/
temp/
